td {
  position: relative;
  text-align: center;
  height: 2em;
  width: 2em;
}

#U\+1F4A9,
#U\+237C {
  background-color: lightblue;
}

td:hover::before {
  content: attr(id);
  position: absolute;
  background-color: black;
  color: white;
  top: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1rem;
  pointer-events: none;
}

td:hover::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid black;
  pointer-events: none;
}

small {
  display: block;
  font-size: 8px;
}

.key {
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 1;
}

.key a {
  display: block;
}
